.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.header-image {
    width:3em;
    margin-right:1em;
}

.book-id {
    font-size: 0.8em;
    margin-top: 0.8em;
}

.book-read-img {
    width:1.2em;
    margin-left:0.5em;
}

table {
    border-spacing: 0;
    margin-bottom:1em;
    margin-left: auto;
    margin-right: auto;
}

td {
     padding-left:0.2em;
     padding-right:0.2em;
     padding-top: 0.1em;
     padding-bottom:0.1em;
}

input[type=radio] {
    margin-right: 0.3em;
}
label {
    margin-right: 0.5em;
}

.hidden {
    display:none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}