.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#fake-store-container {
  margin-top:2em;
}

h1::before {
  content: "\1F3EA";
  margin-right:0.5em;
}

.product-list-item {
  cursor: pointer;
}

.product-list-item > p {
  margin-bottom:0;
  padding-top:0.8rem;
  padding-bottom:0.8rem;
}

.product-list-item:hover {
  /*background-color:rgb(201, 201, 187)!important;*/
  background-color:#0d6dfd!important;
  color:white;
}

.product-list-item:nth-child(odd) {
  background-color:#0d6dfd10;
}

/*
.product-list-item > p:hover {
  font-weight: bold;
}
*/

.product-title {
  margin-top:0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.product-category {
  font-weight: italic;
}

.product-price {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: right;
}

.line-product-id::before {
  content: "[";
}

.line-product-id::after {
  content: "]";
  margin-right:0.5rem;
}
.line-product-price {
  font-weight: bold;
  float:right;
}

.product-image > img {
  max-height:400px;
}

.button-group > input {
  margin-right:0.2rem;
}
.button-group > input:last-child {
  margin-right:0;
}