body {
    margin-left:10%;
    margin-right:10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(45deg, #fcfcff 25%, #ffffff 25%, #ffffff 50%, #fcfcff 50%, #fcfcff 75%, #ffffff 75%, #ffffff 100%);
    background-size: 56.57px 56.57px;
}
.header-image {
    width:10em;
}
.red {
    color: red;
}
.section {
    margin-left: 2em;
}
select {
    padding:0.5em;
    border-radius:5px;
}
h3 > a {
    text-decoration: none;
    color:rgb(31, 127, 182);
    font-weight: bold;
}
h3 > a:hover {
    color:rgb(155, 127, 255);
}
table {
    border-spacing: 0;
}
.data-table th {
    border-top:1px dashed black;
    border-bottom:1px dashed black;
}
.data-table th, .data-table td {
    padding:1em;
}
.data-table tr:nth-child(2n) {
    background-color: rgba(223, 223, 223, 0.568);
}
#select-data-div table {
    width:100%;
}
#select-data-div > div {
    border: 1px solid rgba(223, 223, 223, 0.568);
    margin-top:1em;
    margin-bottom:1em;
}
#select-data-div .data-table tr:nth-child(n + 1) {
    background-color: rgba(255, 255, 255, 0.568);
}
#select-data-div .data-table tr:nth-child(2n) {
    background-color: rgba(223, 223, 223, 0.568);
}
#select-data-div tr:first-child {
    font-weight:bold;
    background-color:rgb(100, 143, 143)!important;
    color:#FFF;
    font-size: 1.5em;
}
#select-data-div th {
    border:0;
    padding-top: 0.5em;
    padding-bottom:0.5em;
}
#select-data-div td {
    vertical-align:top;
}
#select-data-div ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    list-style-type: square;
}
#select-data-div th:first-child {
    border-right:3px dashed white;
}
#select-data-div th:first-child::before {
    content: "{ ";
}
#select-data-div th:last-child::after {
    content: " }";
}
#select-data-div tr:first-child th:first-child {
    text-align:right;
}
#select-data-div tr:first-child th:last-child {
    text-align:left;
}
#select-data-div th:first-child, #select-data-div td:first-child {
    font-weight:bold;
    text-align:right;
    width:5%;
}
.games-list > li:nth-child(even){
    color: purple;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}
  
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}