<!-- List of heroes earlier version
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
         <\!-- [class.selected] one way binding --\>
        <\!-- (click) event binding --\>
        <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
          </button>
    </li>
</ul>
-->
<!-- Selected hero -->
<!-- [hero]="selectedHero" pass selected hero to child component
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
-->
<div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
        Add hero
    </button>
</div>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button type="button" class="delete" title="delete hero"
            (click)="delete(hero)">x</button>
    </li>
</ul>